# ---------------------------------------------------------
# CONFIGURAÇÕES DO BANCO DE DADOS (POSTGRES)
# ---------------------------------------------------------
# Se estiver usando SQLite para testes, essas variáveis 
# podem ficar vazias ou comentadas.
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# ---------------------------------------------------------
# CREDENCIAIS DO SISTEMA INFOPOL
# ---------------------------------------------------------
INFOPOL_URL=
INFOPOL_USER=
INFOPOL_PASS=

# ---------------------------------------------------------
# CONFIGURAÇÕES DO ROBÔ (OPCIONAL)
# ---------------------------------------------------------
# Defina como True para rodar sem abrir a janela do Chrome
HEADLESS_MODE=
# Tempo de espera padrão para elementos carregarem (em segundos)
WAIT_TIME=